[Service]
WorkingDirectory=/var/www/{{nodejs_app_name}}
ExecStart=/home/node/.nvm/versions/node/v{{ nvm_node_version }}/bin/node /var/www/{nodejs_app_name}/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{nodejs_app_name}}
User=web
Group=web
Environment='NODE_ENV=production'

[Install]
WantedBy=multi-user.target


start on runlevel [2345]
stop on runlevel [016]
