server {
  listen 80;
  server_name {{ app_server_name }};

  return 301 https://{{ app_server_name }}$request_uri;
}

server {
  listen 443 ssl;
  server_name {{ app_server_name }};
  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

  root /var/www/{{ app_name }};

  error_log  /var/log/nginx/error.log;
  access_log /var/log/nginx/access.log;

  ssl_certificate     /etc/nginx/tls/{{ app_server_name }}.crt;
  ssl_certificate_key /etc/nginx/tls/{{ app_server_name }}.key;

  location /assets {
    expires 1y;
    access_log off;
    add_header Cache-Control 'public';
    add_header Access-Control-Allow-Origin *;
    autoindex on; # TODO: remove this after testing
  }

  location / {
      proxy_pass http://localhost:{{ app_port }};
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_cache_bypass $http_upgrade;
  }
}
