# /etc/init/{{app_name}}.conf

description "Run node app as daemon"
author "Ben Cooling"

# Node application to start when server is up + stop when it shuts down gracefully.
start on filesystem or runlevel [2345]
stop on shutdown

pre-start script
    echo "[`date`] {{app_name}} starting" >> /var/log/{{app_name}}.log
end script

script

    export HOME="/var/www/{{app_name}}"
    echo $$ > /var/run/{{app_name}}.pid
    # TODO: test stdout -> log file
    exec /usr/bin/node /var/www/{{app_name}}/server.js >> /var/log/{{app_name}}.log 2>&1

end script

pre-stop script
    rm /var/run/{{app_name}}.pid
    echo "[`date`] {{app_name}} stopping" >> /var/log/{{app_name}}.log
end script
