server {
    listen 80;
    server_name {{ app_server_name }};
    root /var/www/{{ app_name }};
    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    location /assets {
      expires 1y;
      access_log off;
      add_header Cache-Control 'public';
      add_header Access-Control-Allow-Origin *;
      autoindex on; # TODO: remove this after testing
    }

    location / {
        proxy_pass http://localhost:{{ app_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}
